body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #1e1e1e, #121212);
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #4CAF50;
    background-color: #000;
    padding: 20px;
    margin: 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
  }
  
  #video-container {
    width: 80%;
    max-width: 900px;
    margin-top: 30px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #000;
    padding-bottom: 10px;
  }
  
  #video-player {
    width: 100%;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }
  
  .annotation-section {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  textarea {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #555;
    font-size: 16px;
    background-color: #333;
    color: #fff;
  }
  
  button {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  #user-avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  #avatar-upload {
    display: inline-block;
  }
  
  #edit-avatar {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 12px; /* Smaller font size for dots */
    color: #fff;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    text-align: center;
  }
  
  #edit-avatar:focus {
    outline: none;
  }
  
  #edit-avatar span {
    display: block;
    font-size: 12px; /* Make the dots smaller */
    margin: 2px 0;
    text-align: center;
  }
  
  footer {
    padding: 10px;
    background-color: #000;
    color: #4CAF50;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
  
